PAIRING_NUMBER=
BOT_NAME=BaseBotAi
OWNER_NUMBER=
AUTH_DIR=./auth
AI_PROVIDER=poolside

POOLSIDE_API_KEY=
POOLSIDE_MODEL=poolside/laguna-xs-2.1

GROQ_API_KEY=
GROQ_MODEL=openai/gpt-oss-120b

BAI_API_KEY=
BAI_MODEL=glm-5.3-flash
